---
---

@import "{{ site.theme }}";

body {
    background: #f7f9fc;
    background: linear-gradient(nulldeg, rgba(247, 249, 252, 1) 0%, rgba(227, 230, 232, 1) 100%);
      }
      
      h1 {
        color: black;
        text-align: center;
        font-family: copperplate, sans-serif;
      }
      
        h2 {
        color: black;
        text-align: center;
        font-family: arial, sans-serif;
      }
      
      p {
          color: black;
        font-family: helvetica, sans-serif;
        font-size: 20px;
    
        border: .5 px grey;
        border-radius: 15px;
        background: #dedfe0;
        background: linear-gradient(nulldeg, rgba(222, 223, 224, 1) 0%, rgba(202, 203, 204, 1) 100%);
        padding: 20px;
        }

        @media only screen and (max-width: 600px) {
            .item1 {grid-area: 1 / span 6;}
            .item2 {grid-area: 2 / span 6;}
            .item3 {grid-area: 3 / span 6;}
            .item4 {grid-area: 4 / span 6;}
            .item5 {grid-area: 5 / span 6;}
          }
          
          @media only screen and (min-width: 600px) {
            .item1 {grid-area: 1 / span 6;}
            .item2 {grid-area: 2 / span 1;}
            .item3 {grid-area: 2 / span 4;}
            .item4 {grid-area: 3 / span 6;}
            .item5 {grid-area: 4 / span 6;}
          }
          
          @media only screen and (min-width: 768px) {
            .item1 {grid-area: 1 / span 6;}
            .item2 {grid-area: 2 / span 1;}
            .item3 {grid-area: 2 / span 4;}
            .item4 {grid-area: 2 / span 1;}
            .item5 {grid-area: 3 / span 6;}
          }